body
{
    background-color: black;
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a
{
    color: aliceblue;
    text-decoration: none;
}
.embedded:hover
{
    font-size: larger;
    color: aqua;
}